<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="x-ua-compatible" content="ie=8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>厦门瑞美佳门窗装潢</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="js/dd_delatedpng.js" ></script>
<script type="text/javascript">//如果多个element使用PNG,则用','分隔
DD_belatedPNG.fix('div,ul,li,p,img,h1,ul.nav li a:hover,.more');
</script>
<![endif]-->
<script src="js/jquery-1.7.2.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="js/table.js"></script>
<!--[if lt IE 10]>
<script type="text/javascript" src="js/PIE.js"></script>
<![endif]-->
<script language="javascript">
$(function() {
    if (window.PIE) {
        $('.rounded').each(function() {
            PIE.attach(this);
        });
    }
});
</script>
<style>
.btn,.back-btn,.hide-num-box-main1,hide-num-box-main{behavior:url(pie.htc);}
</style>
</head>

<body>
<div class="wrap">
	<div class="top">
    	<div class="top-left fl">易尔通后台统计</div>
        <div class="top-right fl">
        	<div class="menu fl">
            	<ul class="nav">
                	<li><a href="#">数据统计</a></li>
                    <li><a href="#" class="cu">客户管理</a></li>
                    <li><a href="#">子代理商</a></li>
                    <li><a href="#">主站内容</a></li>
                    <li><a href="#">品牌体现</a></li>
                </ul>
            </div>
        	<div class="top-vip fr">
            	<div class="hide-vip">
                	<dl><a href="#">个人资料</a></dl>
                    <dl><a href="#">代理等级</a></dl>
                    <dl><a href="#">操作日记</a></dl>
                    <dl><a href="#">注销登录</a></dl>
                </div>
            </div>
            <div class="welcome fr">欢迎进入风信后台系统</div>
        </div>
    </div>
    <div class="main">
    	<div class="class fl">
              <div class="menu_head cur">
              <dl class="icon"><span class="icon1"><img src="images/sty1.png" /></span><span class="icon2"><img src="images/sty.png" /></span></dl>全局设置</div>
              <div class="menu_body" style="display:block;">
                  <dl><a href="#">数据统计</a></dl>
                  <dl><a href="#">日志记录</a></dl>
                  <dl><a href="#">充值记录</a></dl>
                  <dl><a href="#">登录日志</a></dl>
                  <dl><a href="#">操作日志</a></dl>
              </div>
              <div class="menu_head">
              <dl class="icon"><span class="icon1"><img src="images/sty1.png" /></span><span class="icon2"><img src="images/sty.png" /></span></dl>G宝盆</div>
              <div class="menu_body">
                  <dl><a href="#">数据统计</a></dl>
                  <dl><a href="#">日志记录</a></dl>
                  <dl><a href="#">充值记录</a></dl>
                  <dl><a href="#">登录日志</a></dl>
                  <dl><a href="#">操作日志</a></dl>
              </div>
              <div class="menu_head">
              <dl class="icon"><span class="icon1"><img src="images/sty1.png" /></span><span class="icon2"><img src="images/sty.png" /></span></dl>风信</div>
              <div class="menu_body">
                  <dl><a href="#">数据统计</a></dl>
                  <dl><a href="#">日志记录</a></dl>
                  <dl><a href="#">充值记录</a></dl>
                  <dl><a href="#">登录日志</a></dl>
                  <dl><a href="#">操作日志</a></dl>
              </div>
        </div>
        <div class="content-right">
        <!-- 添加客户开始!-->
        <div class="opacity"></div>
        	<div class="Bombbox" id="add-Client">
                	<h1 class="Bombbox-top"><span class="close"><img src="images/close.png" /></span>添加客户</h1>
                    <div class="Bombbox-m">
                    	<table width="100%" border="0">
  <tr height="30">
    <td width="140" align="right">企业名称：</td>
    <td><input name="" type="text" class="input" /></td>
  </tr>
  <tr height="34">
    <td align="right">联系电话：</td>
    <td><input name="" type="text" class="input" /></td>
  </tr>
  <tr height="34">
    <td align="right">联系人：</td>
    <td><input name="" type="text" class="input"/></td>
  </tr>
  <tr height="34">
    <td align="right">联系人手机：</td>
    <td><input name="" type="text" class="input" /></td>
  </tr>
  <tr height="34">
    <td align="right">类型：</td>
    <td><select name="" class="input"><option>潜在客户</option></select></td>
  </tr>
  <tr height="34">
    <td align="right">营业执照：</td>
    <td><span class="file-box"><input type='button' class='btnfile' value='上传' />
    <input type="file" name="fileField" class="file" id="fileField" size="28" onchange="document.getElementById('textfield').value=this.value" /></span><span class="gray font12">未上传</span></td>
  </tr>
  <tr height="34">
    <td align="right">营税务登记证：</td>
    <td><span class="file-box"><input type='button' class='btnfile' value='更改' />
    <input type="file" name="fileField" class="file" id="fileField" size="28" onchange="document.getElementById('textfield').value=this.value" /></span><a href="#" class="Checkout">查看</a></td>
  </tr>
  <tr height="34">
    <td align="right">销售员：</td>
    <td><input name="" type="text" class="input" /></td>
  </tr>
  <tr height="64">
    <td align="right">备注：</td>
    <td><textarea name="" cols="" rows="" class="input" style="height:60px;"></textarea></td>
  </tr>
  <tr height="34">
    <td colspan="2" align="center">
<form id="form1" name="form1" method="post" action="">
  <label>
          <input type="radio" name="RadioGroup1" value="风信客户" id="RadioGroup1_0" style="width:15px; height:15px; vertical-align:middle" />
          风信客户</label>&nbsp;&nbsp;&nbsp;
        <label>
          <input type="radio" name="RadioGroup1" value="G宝盆客户" id="RadioGroup1_1" style="width:15px; height:15px;vertical-align:middle" />
          G宝盆客户</label>&nbsp;&nbsp;&nbsp;
        <label>
          <input type="radio" name="RadioGroup1" value="风帆客户" id="RadioGroup1_2" style="width:15px; height:15px;vertical-align:middle" />
          风帆客户</label>
  </form></td>
  </tr>
  <tr height="34">
    <td align="right"></td>
    <td><input name="" type="button" value="确定" class="btn-Determine" /><input name="" type="button" value="取消" class="btn-Cancel" /></td>
  </tr>
</table>

                    </div>
                </div>
          <!-- 添加客户end-->
        	<div class="content-box">
            	<div class="content-top">
                <div class="search fr">
                  <input name="" type="text" onfocus="if(this.value=='企业名称 / 公众号'){this.value='';}" onblur="if(this.value==''){this.value='企业名称 / 公众号'}" value="企业名称 / 公众号" class="input"  />									                 <input name="" type="button" class="search-btn" />
                </div>
                <a href="#" class="btn" id="btn-Client-add">添加客户</a>
                </div>
                <div class="content-main">
                	<table width="100%" cellpadding="0" cellspacing="1" border="0" class="box-page">
                    	<thead>
                        	<tr height="33">
                                <th width="3%">编号</th>
                                <th width="22%">企业名称</th>
                                <th width="15%">联系方式</th>
                                <th width="10%">类别</th>
                                <th width="10%">销售员</th>
                                <th width="12%">备注</th>
                                <th width="5%">G风险</th>
                                <th width="5%">G寳盆</th>
                                <th width="5%">状态</th>
                                <th width="14%">操作</th>
                             </tr>
                        </thead>
                        <tbody id="grid">
  <tr height="35">
    <td width="3%">01</td>
    <td width="22%">易尔通网络科技有限公司</td>
    <td width="15%">0592-1234567</td>
    <td width="10%">潜在客户</td>
    <td width="10%">客户</td>
    <td width="12%">风信合同阶段</td>
	<td width="5%"><img src="images/fengxin.png" /></td>
    <td width="5%"><img src="images/Gbp.png" /></td>
    <td width="5%"><img src="images/play-icon.png" /></td>
    <td width="14%"><a href="#" class="box-a">修改</a><a href="#" class="box-a">删除</a></td>
  </tr>
  <tr height="35">
    <td>02</td>
    <td>易尔通网络科技有限公司</td>
    <td>0592-1234567</td>
    <td>潜在客户</td>
    <td>客户</td>
    <td>风信合同阶段</td>
	<td><img src="images/fengxin-gray.png" /></td>
    <td><img src="images/Gbp-gray.png" /></td>
    <td><img src="images/stop-icon.png" /></td>
    <td><a href="#" class="box-a">修改</a><a href="#" class="box-a">删除</a></td>
  </tr>
  <tr height="35">
    <td>03</td>
    <td>易尔通网络科技有限公司</td>
    <td>0592-1234567</td>
    <td>潜在客户</td>
    <td>客户</td>
    <td>风信合同阶段</td>
	<td><img src="images/fengxin.png" /></td>
    <td><img src="images/Gbp.png" /></td>
    <td><img src="images/play-icon.png" /></td>
    <td><a href="#" class="box-a">修改</a><a href="#" class="box-a">删除</a></td>
  </tr>
  <tr height="35">
    <td>04</td>
    <td>易尔通网络科技有限公司</td>
    <td>0592-1234567</td>
    <td>潜在客户</td>
    <td>客户</td>
    <td>风信合同阶段</td>
	<td><img src="images/fengxin-gray.png" /></td>
    <td><img src="images/Gbp-gray.png" /></td>
    <td><img src="images/stop-icon.png" /></td>
    <td><a href="#" class="box-a">修改</a><a href="#" class="box-a">删除</a></td>
  </tr>
  <tr height="35">
    <td>05</td>
    <td>易尔通网络科技有限公司</td>
    <td>0592-1234567</td>
    <td>潜在客户</td>
    <td>客户</td>
    <td>风信合同阶段</td>
	<td><img src="images/fengxin.png" /></td>
    <td><img src="images/Gbp.png" /></td>
    <td><img src="images/play-icon.png" /></td>
    <td><a href="#" class="box-a">修改</a><a href="#" class="box-a">删除</a></td>
  </tr>
  <tr height="35">
    <td>06</td>
    <td>易尔通网络科技有限公司</td>
    <td>0592-1234567</td>
    <td>潜在客户</td>
    <td>客户</td>
    <td>风信合同阶段</td>
	<td><img src="images/fengxin-gray.png" /></td>
    <td><img src="images/Gbp-gray.png" /></td>
    <td><img src="images/stop-icon.png" /></td>
    <td><a href="#" class="box-a">修改</a><a href="#" class="box-a">删除</a></td>
  </tr>
  <tr height="35">
    <td>07</td>
    <td>易尔通网络科技有限公司</td>
    <td>0592-1234567</td>
    <td>潜在客户</td>
    <td>客户</td>
    <td>风信合同阶段</td>
	<td><img src="images/fengxin.png" /></td>
    <td><img src="images/Gbp.png" /></td>
    <td><img src="images/play-icon.png" /></td>
    <td><a href="#" class="box-a">修改</a><a href="#" class="box-a">删除</a></td>
  </tr>
  </tbody>
  <tfoot>
    <tr height="35">
      <td colspan="10">共 135 条记录，每页 10 条 <a href="#">首页</a><a href="#">上一页</a><a href="#">下一页</a><a href="#">尾页</a> 跳转到<input name="" type="text" style="width:30px; margin:0px 4px;"/>页</td>
    </tr>
  </tfoot>
</table>
<script type="text/javascript">
//grid("名称","奇数行背景","偶数行背景","鼠标经过背景","点击后背景");
grid("grid","#f9fcfd","#ffffff");
</script>
                </div>
            </div>
        </div>
    </div>
    <div class="foot">
    	<div class="logo"><img src="images/logo.jpg" /></div>
    </div>
</div>
<script src="js/function.js" type="text/javascript"></script>
</body>
</html>
