<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="x-ua-compatible" content="ie=8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>厦门瑞美佳门窗装潢</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="js/dd_delatedpng.js" ></script>
<script type="text/javascript">//如果多个element使用PNG,则用','分隔
DD_belatedPNG.fix('div,ul,li,p,img,h1,ul.nav li a:hover,.more');
</script>
<![endif]-->
<script src="js/jquery-1.7.2.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="js/table.js"></script>
<!--[if lt IE 10]>
<script type="text/javascript" src="js/PIE.js"></script>
<![endif]-->
<script language="javascript">
$(function() {
    if (window.PIE) {
        $('.rounded').each(function() {
            PIE.attach(this);
        });
    }
});
</script>
<style>
.btn,.back-btn,.hide-num-box-main1,hide-num-box-main{behavior:url(pie.htc);}
</style>
</head>

<body>
<div class="wrap">
	<div class="top">
    	<div class="top-left fl">易尔通后台统计</div>
        <div class="top-right fl">
        	<div class="menu fl">
            	<ul class="nav">
                	<li><a href="#">数据统计</a></li>
                    <li><a href="#" class="cu">客户管理</a></li>
                    <li><a href="#">子代理商</a></li>
                    <li><a href="#">主站内容</a></li>
                    <li><a href="#">品牌体现</a></li>
                </ul>
            </div>
        	<div class="top-vip fr">
            	<div class="hide-vip">
                	<dl><a href="#">个人资料</a></dl>
                    <dl><a href="#">代理等级</a></dl>
                    <dl><a href="#">操作日记</a></dl>
                    <dl><a href="#">注销登录</a></dl>
                </div>
            </div>
            <div class="welcome fr">欢迎进入风信后台系统</div>
        </div>
    </div>
    <div class="main">
    	<div class="class fl">
              <div class="menu_head">
              <dl class="icon"><span class="icon1"><img src="images/sty1.png" /></span><span class="icon2"><img src="images/sty.png" /></span></dl>风信</div>
              <div class="menu_body">
                  <dl><a href="#">数据统计</a></dl>
                  <dl><a href="#">日志记录</a></dl>
                  <dl><a href="#">充值记录</a></dl>
                  <dl><a href="#">登录日志</a></dl>
                  <dl><a href="#">操作日志</a></dl>
              </div>
              <div class="menu_head cur">
              <dl class="icon"><span class="icon1"><img src="images/sty1.png" /></span><span class="icon2"><img src="images/sty.png" /></span></dl>G宝盆</div>
              <div class="menu_body" style="display:block;">
                  <dl><a href="#">数据统计</a></dl>
                  <dl><a href="#">日志记录</a></dl>
                  <dl><a href="#">充值记录</a></dl>
                  <dl><a href="#">登录日志</a></dl>
                  <dl><a href="#">操作日志</a></dl>
              </div>
              <div class="menu_head">
              <dl class="icon"><span class="icon1"><img src="images/sty1.png" /></span><span class="icon2"><img src="images/sty.png" /></span></dl>风帆</div>
              <div class="menu_body">
                  <dl><a href="#">数据统计</a></dl>
                  <dl><a href="#">日志记录</a></dl>
                  <dl><a href="#">充值记录</a></dl>
                  <dl><a href="#">登录日志</a></dl>
                  <dl><a href="#">操作日志</a></dl>
              </div>
        </div>
        <div class="content-right">
        	<div class="opacity"></div>
            
            <!-- 添加风信客户start!-->
        	<div class="Bombbox" id="add-fx">
                	<h1 class="Bombbox-top"><span class="close"><img src="images/close.png" /></span>G宝盆客户添加</h1>
                    <div class="Bombbox-m">
                    	<table width="100%" border="0">
  <tr height="30">
  	<td width="100">
  	    <label><input type="radio" name="RadioGroup1" checked="checked" value="单选" id="RadioGroup1_0" style="vertical-align:middle" />&nbsp;选&nbsp;择&nbsp;客&nbsp;户</label>
     </td>
    <td width="210"><select name="" style="width:210px;"><option>厦门某某公司</option><option>厦门某某某公司</option></select></td>
  </tr>
  <tr height="30">
  	<td>
  	    <label> <input type="radio" name="RadioGroup1" value="单选" id="RadioGroup1_1" style="vertical-align:middle" />创建新客户</label></td>
    <td><input name="" type="text" style="width:205px;" /></td>
  </tr>
  <tr height="45">
    <td colspan="2"><div class="slideTxtBox">
			<div class="hd">
				<ul><li class="i1">邀请开通</li><li class="i2">已知客户公众号密码</li></ul>
			</div>
			<div class="bd">
            	<div class="edite">
                <p>将生成一个邀请链接，发给客户由客户自行绑定微信公众号开通</p>
                <p style="text-align:right;"><input name="" type="button" value="生成链接" class="btn-Determine" /><input name="" type="button" value="取消" class="btn-Cancel" /></p>
                </div>
				<div class="edite"><table width="100%" border="0">
  <tr height="30">
    <td width="110">公众号名称：</td>
    <td><input name="" type="text" style="width:180px;" /></td>
  </tr>
  <tr height="30">
    <td>公众号邮箱：</td>
    <td><input name="" type="text" style="width:180px;" /></td>
  </tr>
  <tr height="30">
    <td>初始化密码：</td>
    <td><input name="" type="text" style="width:180px;" /></td>
  </tr>
  <tr height="30">
    <td>公众号微信号：</td>
    <td><input name="" type="text" style="width:180px;" /></td>
  </tr>
  <tr height="30">
    <td>公众号原始接ID</td>
    <td><input name="" type="text" style="width:180px;" /></td>
  </tr>
  <tr height="45">
    <td colspan="2" align="right"><input name="" type="button" value="完成" class="btn-Determine" /><input name="" type="button" value="取消" class="btn-Cancel" /></td>
  </tr>
</table>
</div>
			</div>
		</div>
		<script type="text/javascript">jQuery(".slideTxtBox").slide({trigger:"click"});</script></td>
  </tr>
</table>

                    </div>
                </div>
                <!-- 添加风信客户end!-->
            <!-- 版本升级start!-->
        	<div class="Bombbox" id="Upgrade-box">
                	<h1 class="Bombbox-top"><span class="close"><img src="images/close.png" /></span>版本升级</h1>
                    <div class="Bombbox-m">
                    	<table width="100%" border="0">
  <tr height="45">
    <td>确定<b class="blue">易尔通网络科技</b>&nbsp;从&nbsp;<b class="blue">标准版</b>&nbsp;增购微&nbsp;<select name=""><option>餐饮版</option><option>婚庆版</option></select></td>
  </tr>
  <tr>
  	<td class="Consumption">将消费金额：<span class="red font22">￥3600</span></td>
  </tr>
  <tr height="45">
    <td align="center"><input name="" type="button" value="确定" class="btn-Determine" /><input name="" type="button" value="取消" class="btn-Cancel" /></td>
  </tr>
</table>

                    </div>
                </div>
                <!-- 版本升级end!-->
                <!-- 续费start!-->
             <div class="Bombbox" id="Renewals-box">
                	<h1 class="Bombbox-top"><span class="close"><img src="images/close.png" /></span>续费</h1>
                    <div class="Bombbox-m">
                    	<table width="100%" border="0">
  <tr height="40">
    <td>确定<b class="blue">易尔通网络科技</b>&nbsp;从&nbsp;<b class="blue">标准版</b>&nbsp;增购微&nbsp;<select name=""><option>1年</option><option>2年</option></select><br /><center>到期时间调整为<span class="red">2015-7-3</span></center></td>
  </tr>
  <tr>
  	<td class="Consumption">将消费金额：<span class="red font22">￥3600</span></td>
  </tr>
  <tr height="45">
    <td align="center"><input name="" type="button" value="确定" class="btn-Determine" /><input name="" type="button" value="取消" class="btn-Cancel" /></td>
  </tr>
</table>

                    </div>
                </div>
                <!-- 续费end!-->
        	<div class="content-box">
            	<div class="content-top">
                <div class="search fr">
                  <input name="" type="text" onfocus="if(this.value=='企业名称 / 公众号'){this.value='';}" onblur="if(this.value==''){this.value='企业名称 / 公众号'}" value="企业名称 / 公众号" class="input"  />									                 <input name="" type="button" class="search-btn" />
                </div>
                <a href="#" class="back-btn">返回上一级</a><a href="#" class="btn" id="btn-add">添加G宝盆</a></div>
                <div class="content-main">
                	<table width="100%" cellpadding="0" cellspacing="1" border="0" class="box-page">
                    	<thead>
                        	<tr height="33">
                                <th width="5%">编号</th>
                                <th width="25%">企业名称</th>
                                <th width="25%">域名</th>
                                <th width="15%" style="position:relative"><select name="choose" id="choose" style="display:none;">
	<option value="到期时间" selected="selected">到期时间</option>
	<option value="2014-6-5">2014-6-5</option>
	<option value="2014-6-5">2014-6-5</option>
	<option value="2014-6-5">2014-6-5</option>
</select></th>
                                <th width="12%" style="position:relative"><select name="choose" id="choose" style="display:none;">
	<option value="状态" selected="selected">状态</option>
	<option value="2014-6-5">2014-6-5</option>
	<option value="2014-6-5">2014-6-5</option>
	<option value="2014-6-5">2014-6-5</option>
</select></th>
                                <th width="18%">操作</th>
                             </tr>
                        </thead>
                        <tbody id="grid">
  <tr height="35">
    <td width="5%">01</td>
    <td width="25%"><div class="number"></div>易尔通网络科技有限公司<span class="step-icon"><img src="images/step-icon.png" /></span></td>
    <td width="25%">www.baidu.com</td>
    <td width="15%">2014-06-25</td>
    <td width="12%"><img src="images/play-icon.png" /></td>
    <td width="18%"><a href="#" class="box-a Renewals">续费</a><a href="#" class="box-a">管理</a><a href="#" class="box-a">设置</a></td>
  </tr>
  <tr height="35">
    <td width="5%">01</td>
    <td width="25%"><div class="number"></div>易尔通网络科技有限公司<span class="step-icon"><img src="images/step-icon.png" /></span></td>
    <td width="25%">www.baidu.com</td>
    <td width="15%">2014-06-25</td>
    <td width="12%"><img src="images/play-icon.png" /></td>
    <td width="18%"><a href="#" class="box-a Renewals">续费</a><a href="#" class="box-a">管理</a><a href="#" class="box-a">设置</a></td>
  </tr>
  <tr height="35">
    <td width="5%">01</td>
    <td width="25%"><div class="number"></div>易尔通网络科技有限公司<span class="step-icon"><img src="images/step-icon.png" /></span></td>
    <td width="25%">www.baidu.com</td>
    <td width="15%">2014-06-25</td>
    <td width="12%"><img src="images/play-icon.png" /></td>
    <td width="18%"><a href="#" class="box-a Renewals">续费</a><a href="#" class="box-a">管理</a><a href="#" class="box-a">设置</a></td>
  </tr>
  <tr height="35">
    <td width="5%">01</td>
    <td width="25%"><div class="number"></div>易尔通网络科技有限公司<span class="step-icon"><img src="images/step-icon.png" /></span></td>
    <td width="25%">www.baidu.com</td>
    <td width="15%">2014-06-25</td>
    <td width="12%"><img src="images/play-icon.png" /></td>
    <td width="18%"><a href="#" class="box-a Renewals">续费</a><a href="#" class="box-a">管理</a><a href="#" class="box-a">设置</a></td>
  </tr>
  <tr height="35">
    <td width="5%">01</td>
    <td width="25%"><div class="number"></div>易尔通网络科技有限公司<span class="step-icon"><img src="images/step-icon.png" /></span></td>
    <td width="25%">www.baidu.com</td>
    <td width="15%"><span class=" red">2014-06-25</span></td>
    <td width="12%"><img src="images/play-icon.png" /></td>
    <td width="18%"><a href="#" class="box-a Renewals">续费</a><a href="#" class="box-a">管理</a><a href="#" class="box-a">设置</a></td>
  </tr>
  </tbody>
  <tfoot>
    <tr height="35">
      <td colspan="7">共 135 条记录，每页 10 条 <a href="#">首页</a><a href="#">上一页</a><a href="#">下一页</a><a href="#">尾页</a> 跳转到<input name="" type="text" style="width:30px; margin:0px 4px;"/>页</td>
    </tr>
  </tfoot>
</table>
<script type="text/javascript">
//grid("名称","奇数行背景","偶数行背景","鼠标经过背景","点击后背景");
grid("grid","#f9fcfd","#ffffff");
</script>
                </div>
            </div>
        </div>
    </div>
    <div class="foot">
    	<div class="logo"><img src="images/logo.jpg" /></div>
    </div>
</div>
<script src="js/function.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery.select.js"></script>
</body>
</html>
