<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="x-ua-compatible" content="ie=8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>品牌体现</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="js/dd_delatedpng.js" ></script>
<script type="text/javascript">//如果多个element使用PNG,则用','分隔
DD_belatedPNG.fix('div,ul,li,p,img,h1,ul.nav li a:hover,.more');
</script>
<![endif]-->
<script src="js/jquery-1.7.2.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="js/table.js"></script>
<!--[if lt IE 10]>
<script type="text/javascript" src="js/PIE.js"></script>
<![endif]-->
<script language="javascript">
$(function() {
    if (window.PIE) {
        $('.rounded').each(function() {
            PIE.attach(this);
        });
    }
});
</script>
<style>
.btn,.back-btn,.hide-num-box-main1,hide-num-box-main{behavior:url(pie.htc);}
</style>
</head>

<body>
<div class="wrap">
	<div class="top">
    	<div class="top-left fl">易尔通后台统计</div>
        <div class="top-right fl">
        	<div class="menu fl">
            	<ul class="nav">
                	<li><a href="#">数据统计</a></li>
                    <li><a href="#">客户管理</a></li>
                    <li><a href="#">子代理商</a></li>
                    <li><a href="#">主站内容</a></li>
                    <li><a href="#" class="cu">品牌体现</a></li>
                </ul>
            </div>
        	<div class="top-vip fr">
            	<div class="hide-vip">
                	<dl><a href="#">个人资料</a></dl>
                    <dl><a href="#">代理等级</a></dl>
                    <dl><a href="#">操作日记</a></dl>
                    <dl><a href="#">注销登录</a></dl>
                </div>
            </div>
            <div class="welcome fr">欢迎进入风信后台系统</div>
        </div>
    </div>
    <div class="main">
    	<div class="class fl">
              <div class="menu_head cur">
              <dl class="icon"><span class="icon1"><img src="images/sty1.png" /></span><span class="icon2"><img src="images/sty.png" /></span></dl>品牌体现</div>
              <div class="menu_body" style="display:block;">
                  <dl><a href="#">数据统计</a></dl>
                  <dl><a href="#">日志记录</a></dl>
                  <dl><a href="#">充值记录</a></dl>
                  <dl><a href="#">登录日志</a></dl>
                  <dl><a href="#">操作日志</a></dl>
              </div>
              <div class="menu_head">
              <dl class="icon"><span class="icon1"><img src="images/sty1.png" /></span><span class="icon2"><img src="images/sty.png" /></span></dl>G品牌体现</div>
              <div class="menu_body">
                  <dl><a href="#">数据统计</a></dl>
                  <dl><a href="#">日志记录</a></dl>
                  <dl><a href="#">充值记录</a></dl>
                  <dl><a href="#">登录日志</a></dl>
                  <dl><a href="#">操作日志</a></dl>
              </div>
              <div class="menu_head">
              <dl class="icon"><span class="icon1"><img src="images/sty1.png" /></span><span class="icon2"><img src="images/sty.png" /></span></dl>品牌体现</div>
              <div class="menu_body">
                  <dl><a href="#">数据统计</a></dl>
                  <dl><a href="#">日志记录</a></dl>
                  <dl><a href="#">充值记录</a></dl>
                  <dl><a href="#">登录日志</a></dl>
                  <dl><a href="#">操作日志</a></dl>
              </div>
        </div>
        <div class="content-right">
        	<div class="opacity"></div>
        	<div class="Bombbox" id="add-picture">
                	<h1 class="Bombbox-top"><span class="close"><img src="images/close.png" /></span>添加焦点图</h1>
                    <div class="Bombbox-m">
                    	<table width="100%" border="0">
  <tr height="30">
    <td width="140" align="right">图片名称：</td>
    <td><input name="" type="text" class="input" /></td>
  </tr>
  <tr height="34">
    <td align="right">链接地址：</td>
    <td><input name="" type="text" class="input" /></td>
  </tr>
  <tr height="34">
    <td align="right">图片上传：</td>
    <td><span class="file-box"><input type='button' class='btnfile' value='上传' />
    <input type="file" name="fileField" class="file" id="fileField" size="28" onchange="document.getElementById('textfield').value=this.value" /></span><span class="gray font12">未上传</span></td>
  </tr>
  <tr height="34">
    <td align="right"></td>
    <td><input name="" type="button" value="确定" class="btn-Determine" /><input name="" type="button" value="取消" class="btn-Cancel" /></td>
  </tr>
</table>

                    </div>
                </div>
        	<div class="content-box">
            	<div class="Brand">
                	<div class="Bombbox-m">
                    	<table width="100%" border="0" class=" Brand-m">
  <tr height="30">
    <td width="200" align="right">企业名称：</td>
    <td><input name="" type="text" class="input" style="width:574px;" /></td>
  </tr>
  <tr height="34">
    <td align="right">首页浏览器标题：</td>
    <td><input name="" type="text" class="input" style="width:574px;"  /></td>
  </tr>
  <tr height="34">
    <td align="right">后台浏览器标题：</td>
    <td><input name="" type="text" class="input" style="width:574px;" /></td>
  </tr>
  <tr height="34">
    <td align="right">网站logo：</td>
    <td><span class="file-box"><input type='button' class='btnfile' value='更改' />
    <input type="file" name="fileField" class="file" id="fileField" size="28" onchange="document.getElementById('textfield').value=this.value" /></span><span class="gray font12">未上传</span></td>
  </tr>
  <tr height="34">
    <td align="right">底部版权：</td>
    <td><input name="" type="text" class="input" style="width:574px;"/></td>
  </tr>
  <tr height="65">
    <td align="right">全局焦点图：</td>
    <td><span class="add-img"><img src="images/baner.jpg" width="80" height="50" /></span><span class="add-img"><span class="add-img-btn">+</span></span></td>
  </tr>
</table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="foot">
    	<div class="logo"><img src="images/logo.jpg" /></div>
    </div>
</div>
<script src="js/function.js" type="text/javascript"></script>
</body>
</html>
